.modal-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    background: rgba(92, 92, 92, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;
    .modal-wrapper__container {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 40px;
        box-sizing: border-box;
        .row_1 {
            grid-row: span 1;
        }
        .col_12 {
            grid-column: span 12;
        }
        .col_3 {
            grid-column: span 3;
        }
        .modal-card {
            width: 532px;
            .card__header_modal {
                padding: 0;
                margin-bottom: 25px;
                .card__header-left {
                    .card__subtitle {
                        margin-bottom: 4px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 140%;
                        color: #5769df;
                        display: flex;
                        align-items: center;
                        .tooltip-icon {
                            cursor: pointer;
                            margin-left: 8px;
                            outline: none;
                            height: 20px;
                            z-index: 9999;
                        }
                    }
                    .card__title_modal {
                        line-height: 29px;
                        letter-spacing: 0.03em;
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin-top: 8px;
                        word-break: break-all;
                        margin-right: 24px;
                    }
                }
                .card__header-controls {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .modal-card__close {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            height: 32px;
                            z-index: 1;
                            cursor: pointer;
                        }
                        &:before {
                            content: "";
                            display: block;
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                        }
                    }
                }
            }
            .card__header {
                // padding: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
            }
            .modal-content {
                margin-top: 24px;
                .modal-content__body {
                    display: grid;
                    grid-gap: 16px 16px;
                    grid-template-columns: repeat(6, 1fr);
                    .tabs {
                        grid-column: span 6;
                        .tabs__header {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            .tabs__container {
                                box-sizing: border-box;
                                position: relative;
                                overflow-x: auto;
                                padding-bottom: 8px;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                .tabs__item:not(:last-child) {
                                    margin-right: 32px;
                                }
                                .tabs__item_active {
                                    border-bottom: 1px solid #5769df;
                                    color: #242628 !important;
                                }
                                .tabs__item {
                                    cursor: pointer;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: #aaadb2;
                                    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                                    flex-shrink: 0;
                                    position: relative;
                                }
                            }
                        }
                        .tab {
                            .modal-content {
                                margin-top: 24px;
                                .modal-content__body {
                                    display: grid;
                                    grid-gap: 16px 16px;
                                    grid-template-columns: repeat(6, 1fr);
                                    .col_6 {
                                        grid-column: span 6;
                                    }
                                    .control-wrapper {
                                        
                                        .control-wrapper__title {
                                            line-height: 18px;
                                            font-weight: 700;
                                            color: #242628;
                                            font-size: 0.875rem;
                                            margin-bottom: 16px;
                                            display: block;
                                        }
                                        .input {
                                            position: relative;
                                            border-radius: 8px;
                                            transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                                            box-sizing: border-box;
                                            border: 1px solid transparent;
                                            .input__controller {
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                display: block;
                                                width: 100%;
                                                box-sizing: border-box;
                                                border: 1px solid #ebedf1;
                                                border-radius: 8px;
                                                padding: 16px;
                                                transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                                                line-height: 140%;
                                                font-family: Inter, Arial;
                                                color: #242628;
                                                outline: none;
                                            }
                                        }
                                        .control-wrapper__error {
                                            font-size: 0.875rem;
                                            line-height: 18px;
                                            min-height: 18px;
                                            transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                                            opacity: 0;
                                            margin-top: 8px;
                                            color: #d63649;
                                        }
                                        .textarea {
                                            position: relative;
                                            border-radius: 8px;
                                            transition: .4s cubic-bezier(.25,.8,.25,1);
                                            box-sizing: border-box;
                                            border: 1px solid transparent;
                                            .textarea__controller {
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                display: block;
                                                width: 100%;
                                                box-sizing: border-box;
                                                border: 1px solid #ebedf1;
                                                border-radius: 8px;
                                                padding: 16px;
                                                transition: .4s cubic-bezier(.25,.8,.25,1);
                                                line-height: 140%;
                                                font-family: Inter,Arial;
                                                color: #242628;
                                                outline: none;
                                                resize: none;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                .modal-content__footer_margin {
                    margin-top: 24px;
                }
                .modal-content__footer {
                    padding-top: 24px;
                    border-top: 1px solid #ebedf1;
                    display: flex;
                    justify-content: flex-end;
                    .button:not(:last-child) {
                        margin-right: 24px;
                    }
                    .button_theme_text {
                        color: #242628;
                        background: unset;
                        height: unset;
                        min-width: unset;
                        width: unset;
                        padding: 0;
                    }
                    .button_radius_medium {
                        border-radius: 12px;
                    }
                    .button_size_large {
                        height: 52px;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 140%;
                    }
                    .button {
                        font-family: Inter, Arial;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        border: 1px solid transparent;
                        transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                        outline: none;
                        cursor: pointer;
                    }
                    .button_theme_primary {
                        color: #fff;
                        background: #5769df;
                    }
                    .button_width_default {
                        padding: 12px 40px;
                        min-width: 150px;
                    }
                }
            }
        }
        .card_padding_normal {
            padding: 24px;
        }
        .card_overflow {
            overflow: hidden;
        }
        .card {
            background: #fff;
            border-radius: 12px;
            box-sizing: border-box;
            box-shadow: 2px 4px 8px rgb(223 224 226 / 12%);
            position: relative;
        }
    }
}
