#page-apitoken{
    background-color: rgba(245,245,250,255);
    margin-left: 104px;
    height: 100%;
    padding: 40px 80px;
    font-weight: 700;
}
.permission{
    display: flex;
    height: 55px;
}
.permis-item{
    width: 20%;
}
.permis-item span{
    position: absolute;
    margin-top: 18px;
    margin-left: 30px;
}